NEXT_PUBLIC_API_URL=https://shinesecureapi.varunkumar.online/api
NEXT_PUBLIC_SITE_URL=https://shinesecure.varunkumar.online
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/shine_secure?igsh=MTVidHV3ZTJmbHFuMQ%3D%3D
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_META_PIXEL_ID=
